html,
body {
  background-color: #343a40;
}

.middle {
  padding-top: 40px;
  background-color: white;
  height: 60vh;
}

.logo {
  display: flex;
  justify-content: center;
  margin: -20px;
  margin-bottom: -40px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  height: 20px;
}

.rownav {
  color: lightgrey;
  width: 70vw;
  height: 40px;
}

.selected {
  background-color: green;
  height: 40px;
  display: flex;
  align-items: center;
}

.jumbotronone {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.jumbotrontwo {
  display: flex;
  justify-content: center;
}
.green {
  color: green;
}

#jumbotop {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*
#buttons {
  display: flex;
  align-items: center;
} */

.col {
  display: flex;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
}
.bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  color: lightgrey;
}

.bottmenu {
  float:right;
  padding-top: 20px;
}

.bott {
  padding-top: 40px;
}

a {
  color: lightgrey;
  font-weight: bold;
}
